{% load staticfiles %}
{% load bootstrap3 %}
<html>
    <head>
        <script src="{% bootstrap_jquery_url %}"></script>
        {% bootstrap_javascript %}
        {% bootstrap_css %}
        <script src="{% static "konami.js" %}"></script>
        {% block css %}{% endblock css %}
        {% block js %}{% endblock js %}
        {% block title %}{% endblock title %}

    </head>
    <body>
        <div id="konami_modal" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">I told you...</h4>
              </div>
              <div class="modal-body text-center">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Grace_Hopper.jpg" alt="Grace Hopper">
                <p>She is <a href="https://en.wikipedia.org/wiki/Grace_Hopper">Grace Murray Hopper</a>. She documented the <a href="https://en.wikipedia.org/wiki/Software_bug">first computer bug</a> in history. She also worked in serveral programming languages like COBOL and FORTRAN.</p>
              </div>
            </div>

          </div>
        </div>
        {% block content %}{% endblock content %}
    </body>
</html>